<mat-card>
    <mat-card-header>
        <mat-card-title>Pesquisador</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput name="nome" [(ngModel)]="pesquisador.nome" />
                </mat-form-field>

                <mat-form-field fxFlex="50%">
                    <mat-label>Documento</mat-label>
                    <input matInput placeholder="Documento" name="documento" [(ngModel)]="pesquisador.documento" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput name="telefone" [(ngModel)]="pesquisador.telefone" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                <mat-form-field>
                    <mat-label>Área de Estudo</mat-label>
                    <input matInput name="areaEstudo" [(ngModel)]="pesquisador.areaEstudo" />
                </mat-form-field>
            </div>

            <hr />

            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                <mat-form-field>
                    <mat-label>Logradouro</mat-label>
                    <input matInput name="logradouro"
                        [(ngModel)]="pesquisador.enderecoPessoa.logradouro" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Numero</mat-label>
                    <input matInput name="numero"
                        [(ngModel)]="pesquisador.enderecoPessoa.numero" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input matInput name="bairro"
                        [(ngModel)]="pesquisador.enderecoPessoa.bairro" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input matInput name="cidade"
                        [(ngModel)]="pesquisador.enderecoPessoa.cidade" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>UF</mat-label>
                    <input matInput name="uf" [(ngModel)]="pesquisador.enderecoPessoa.uf" />
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <button mat-raised-button color="primary" (click)="salvar()">
            Salvar
        </button>
        <button mat-raised-button color="secundary" (click)="voltar()">
            Voltar
        </button>

    </mat-card-footer>
</mat-card>