/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon {
    vertical-align: bottom;
}

.example-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(149, 159, 149, 0.331);
}

app-pesquisador-lst {
    width: 100%;
}

.mat-mdc-table.mdc-data-table__table.cdk-table.mat-elevation-z8 {
    margin-top: 1rem;
}

mat-form-field {
    padding: 1rem 1rem 0 0;
}

mat-card-footer button {
    margin: 1rem;
}

mat-card-footer button:last-of-type {
    background-color: #dedede!important;
}
